{% macro add_extra_javascript(submit_button_verb, is_socrata_source) -%}
    <script type="text/javascript">

        // api and redirect URLs are different for public contributions vs admin
        {% if submit_button_verb == 'Contribute' %}

            var api_url = '/v1/api/contribute-dataset/';
            var redirect_url = '/contribute-thankyou/';

        {% else %}

            var api_url = '/v1/api/submit-dataset/';
            var redirect_url = '/admin/view-datasets/';

        {% endif %}

        $(document).ready(function(){
            
            function validateEmail(email) { 
                var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(email);
            } 
       
            $('#datatype-submit').on('click', function(e){
    	        function appendError(message) {
                    $('#errors').append('<div class="alert alert-danger alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>' + message + '</div>');
                }

                e.preventDefault();
                var definitions = {
                    'field_definitions': {},
                    'data_types': [],
                    'socrata': '{{ is_socrata_source }}'
                }
                if(definitions['socrata'] == 'True'){
                    definitions['socrata'] = true;
                } else {
                  definitions['socrata'] = false;
                }
                var valid = true;
                $('#errors').empty()
                $.each($('.plenario-field option'), function(i, opt){
                    //var field_name = $(opt).parent().parent().next().text();
                    var field_name = $(opt).val();
                    if($(opt).is(':selected')){
                        var field_type = $(opt).text().split(' ').join('_').toLowerCase().replace(/-/g, '');
                        if (field_type){
                            if (typeof definitions['field_definitions'][field_type] !== 'undefined'){
                                valid = false
    	                appendError('You defined more than one ' + $(opt).text());
                            } else {
                                definitions['field_definitions'][field_type] = field_name;
                            }
                        }
                    }
                });

                $.each($('.data-type option'), function(i, opt){
                    //var field_name = $(opt).parent().parent().prev().text();
	            var field_name = $(opt).val();
                    if($(opt).is(':selected')){
                        var d_type = $(opt).text().split(' ').join('_').toLowerCase().replace(/-/g, "")
                        if(d_type){
                            definitions['data_types'].push({
                                'field_name': field_name,
                                'data_type': d_type
                            })
                        } else {
                            valid = false;
                            appendError('Provide a data type for ' + field_name);
                        }
                    }

                });

                var defined = []
                $.each(definitions['field_definitions'], function(i, definition){
                    defined.push(i);
                })
                if(!(defined.indexOf('id_field') >= 0)){
                    valid = false
       
                    appendError('You need to define a unique ID field');
                }
                if(!(defined.indexOf('date_field') >= 0)){
                    valid = false
                    appendError('You need to define a date/datetime field');
                }
                if(!(defined.indexOf('location') >= 0)){
                    if(!(defined.indexOf('latitude') >= 0) && !(defined.indexOf('longitude') >= 0)){
                        valid = false
                        appendError('You need to defined either a location field or a latitude and longitude field');
                    }
                }
                if(!$('#update-select').val()){
                    valid = false
                    appendError('You need to select an update frequency');
                } else {
                    definitions['update_frequency'] = $('#update-select').val();
                }

    	        definitions['contributor_name'] = $('input[name="contributor_name"]').val()
    	        definitions['contributor_organization'] = $('input[name="contributor_organization"]').val()
    	        definitions['contributor_email'] = $('input[name="contributor_email"]').val()
                    
                if (!validateEmail(definitions['contributor_email'])) {
    	             valid= false;
    	             appendError('Not a valid email address:' + definitions['contributor_email']);
    	        }

                if(valid) {
                    definitions['view_url'] = $('input[name="dataset_url"]').val()
                    var data = JSON.stringify(definitions);

                    $.post(api_url, {'data': data}, function(resp){
                        if (resp['status'] == 'duplicate') {
                            appendError('Unable to submit! ' + resp['message']);
                            window.scrollTo(0,0);
                        }
                        else
                            window.location = redirect_url;
                    })
                       
                } else { 
                    window.scrollTo(0,0);
                }
            })
        })
    </script>
{%- endmacro %}
