{% macro metadata_form_fragment(dataset_info) -%}

<p>Fill out the name, description and frequency of update for your dataset. <span class="red">*</span> denotes a required field</p>
            
<div class="form-group">
    <label for="dataset_name"><span class="red">*</span>File name</label>
    <input id="dataset_name" name="dataset_name" class="form-control" type="text" value="{{dataset_info.name}}" />
</div>

<div class="form-group">
    <label for="dataset_attribution">Attribution</label>
    <input id="dataset_attribution" name="dataset_attribution" class="form-control" type="text" value="{{dataset_info.attribution}}" placeholder="Please cite the original source of this data"/>
</div>

<div class="form-group">
    <label for="dataset_description">Description</label>
    <textarea rows="4" class="form-control" id="dataset_description" name="dataset_description">{{dataset_info.description}}</textarea>
</div>
<div class="form-group">
    <label for="update-select"><span class="red">*</span>How often should we check for updates?</label>
    <select id="update_frequency" name="update_frequency" class="form-control">
        <option value="yearly">Yearly</option>
        <option value="monthly">Monthly</option>
        <option value="weekly">Weekly</option>
        <option value="daily">Daily</option>
    </select>
</div>

{% endmacro %}