{% extends 'base.html' %}
{% block title %}About - Plenar.io{% endblock %}
{% block content %}
  <div class='col-md-8 col-md-offset-2'>
    <br/>
    <h1>About Plenario</h1>

    <p><strong>Plenario</strong> makes it possible to rethink the way we use open data. Instead of being constrained by the data that is accessible and usable, let&rsquo;s start by formulating our questions and then find the data to answer them. Plenario makes this easy by tying together all datasets on one map and one timeline&mdash;because in the real world, everything affects everything else.</p>
    <br>

    <h2 id="mission">Mission</h2>
    <h3>The problem</h3>
    <p>Over the past few years, levels of government from the <a href="http://data.gov">federal administration</a> to individual municipalities like the <a href="http://data.cityofchicago.org">City of Chicago</a> have begun embracing <a href="http://en.wikipedia.org/wiki/Open_data">open data</a>, releasing datasets publicly for free. This movement has vastly increased the amount of data available, but existing platforms and technologies are designed mainly to view and access individual datasets one at a time. This restriction contradicts decades of research contending that no aspect of the urban landscape is truly isolated; in today's cities, everything is connected to everything else.</p>
    <p>Furthermore, researchers are often limited in the questions they can ask by the data available to answer them. It is not uncommon to spend 75% of one&rsquo;s time locating, downloading, cleaning, and standardizing the relevant datasets&mdash;leaving precious little resources for the important work.</p>
    <h3>What we do</h3>
    <p>Plenario is designed to take us from "spreadsheets on the web"<a href="#f1"><sup>1</sup></a> to truly smart open data. This rests on two fundamental breakthroughs:</p>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <p>1)&nbsp;&nbsp;Allow users to assemble and download data from multiple, independent data sources, such as two different municipal data portals, or the federal government and a privately curated dataset. </p>
        <p>2)&nbsp;&nbsp;Unite all datasets along a single spatial and temporal index, making it possible to do complex aggregations with one query.</p>
      </div>
    </div>
    <p>With these advances, Plenario allows users to study regions over specified time periods using all relevant data, regardless of original source, and represent the data as a single time series. By providing a single, centralized hub for open data, the Plenario platform enables urban scientists to ask the right questions with as few constraints as possible.</p>
    <hr>
    <p id="f1" class="small" style="font-size:80%;"><sup>1</sup> &ldquo;<a href="https://twitter.com/UofCResearch">@UofCResearch</a>: Goldstein: need to take data and make it more useable so it's not just spreadsheets on the web <a href="http://twubs.com/UChiDiscovery">#UChiDiscovery</a>&rdquo; (November 30, 2013)</p>
    <br>
    
    <h2 id="platform">The Plenario Platform</h2>
    <h3>Automatically import datasets</h3>
    <p>Plenario is more than just a tool or a website: it provides an infrastructure for working with open data. At its heart is an automated <a href="http://en.wikipedia.org/wiki/Extract,_transform,_load">ETL builder</a> to extract data from other sources, run custom transformations (to clean and standardize the data, and to align its field definitions with those of similar datasets), and load it into the database. Users can thus expand the universe of accessible data by importing open datasets from a variety of sources&mdash;such as data portals that run using <a href="http://www.socrata.com/">Socrata</a> or <a href="http://ckan.org/">CKAN</a>, or datasets assembled by independent academics and organizations. Plenario then makes the datasets available to all users of the platform for download and analysis.</p>
    <h3>One spatio-temporal index</h3>
    <p>If a dataset has spatial and temporal attributes, then it can be added to the platform and merged into the map and timeline along with all the other datasets. A single query can access all datasets in Plenario, and even perform joins and find relationships between them, by using these indices.</p>
    <h3>An open platform</h3>
    <p>At its heart, Plenario is driven by the philosophy <em>build it and they will come</em>. Our <a href="{{ url_for('views.api_docs_view') }}">API</a> supports third-party apps and tools built on top of the Plenario infrastructure, which is a model that has been shown to work well for open data. Examples range from <a href="http://projects.nytimes.com/crime/homicides/map">tracking crime</a> to <a href="http://lookatcook.com/">visualizing municipal budgets</a>, and from <a href="http://adopt-a-hydrant.herokuapp.com/">adopting fire hydrants</a> to <a href="http://istheresewageinthechicagoriver.com/">alerting residents about sewage overflow</a>.</p>
    <p>Plenario is built as a collaborative project, and the entire platform is open source, extensible to all locations, and ready to deploy. The source code is actively maintained on <a href="https://github.com/UrbanCCD-UChicago/plenario">GitHub</a>, and the entire project can be forked for private or customized use. Furthermore, the Plenario API can be used with multiple front-end frameworks, from custom mobile and web apps to a complex ESRI application.</p>
    <br>

    <h2 id="roadmap">Roadmap</h2>
    <p>Plenario is currently in the alpha phase; there’s a lot more we want to accomplish. The platform is ultimately hoped to serve as the backend for urban analytics software around the world, used both by city managers and researchers. Upcoming features will include:</p>
    <ul>
      <li>Allowing all users to add datasets they would like to see in Plenario</li>
      <li>Sophisticated units of aggregation, on one or many variables of interest</li>
      <li>Support for authentication and private datasets, such as 911 data and mortgage data</li>
      <li>Unstructured data such as tweets and crowdsourced observations</li>
    </ul>
    <br>

    <h2 id="funders">Funders</h2>
    <p>Plenario is funded by the <a href="http://www.nsf.gov/dir/index.jsp?org=CISE">National Science Foundation Computer and Information Science and Engineering directorate</a> through a grant to the <a href="https://urbanccd.org/">Urban Center for Computation and Data</a> at the Computation Institute of the University of Chicago and Argonne National Laboratory.</p>
    <p class="text-center"><a class="btn btn-info" href="http://www.nsf.gov/awardsearch/showAward?AWD_ID=1348865&HistoricalAwards=false">Read the original grant&nbsp;&nbsp;<i class="fa fa-arrow-circle-right"></i></a></p>
    <br>
    
    <h2 id="team">Team</h2>
    <p>The Plenario team brings together students and scientists from the <a href="https://www.ci.uchicago.edu/">Computation Institute</a> and from the University of Chicago’s <a href="http://harrisschool.uchicago.edu/">Harris School for Public Policy</a>, with funding from the <a href="http://www.macfound.org/">John D. and Catherine T. MacArthur Foundation</a>. It is being implemented by the <a href="https://urbanccd.org/">Urban Center for Computation and Data</a> and <a href="http://datamade.us">DataMade</a>.</p>
    <br>
    
    <h2 id="get-involved">Get Involved</h2>
    <p>Join our community to hear about platform updates, new features and discuss the potential uses of Plenario. We want to start a conversation with you, the users, about what Plenario can do for you - whether you're a city manager, an app developer, a researcher, or a citizen interested in exploring open data.</p>
    <p class="text-center"><a class='btn btn-info' href="https://groups.google.com/forum/#!forum/plenariodataportal">Join our Google Group&nbsp;&nbsp;<i class="fa fa-arrow-circle-right"></i></a>
    <p>You can also help improve Plenario by joining the project on <a href='https://github.com/UrbanCCD-UChicago/plenario'>GitHub</a>. Found a bug? Report it in the <a href='https://github.com/UrbanCCD-UChicago/plenario/issues'>issue tracker</a> or contact <a href="http://datamade.us/contact-us/index.html">DataMade</a> directly.</p>
    <br>
    <br>
  </div>
{% endblock content %}
{% block extra_javascript %}
<script>
// smooth scrolling from http://stackoverflow.com/questions/16534851/jquery-smooth-scrolling-on-page-load
(function(){
  var jump=function(e){
    //e.preventDefault();
     if (e){
         var target = jQuery(this).attr("href").replace('/', '');
     }else{
         var target = location.hash;
     }
     jQuery('html,body').animate(
     {
         scrollTop: (jQuery(target).offset().top)
     },1000,function(){});
  }
  jQuery('html, body').hide();
  jQuery(document).ready(function($){
    $(document).on('click', 'a[href*=#]', jump);
    if (location.hash){
        setTimeout(function(){
            $('html, body').scrollTop(0).show();
            jump();
        }, 0);
    }else{
        $('html, body').show();
    }
  });
})()
</script>
{% endblock %}
