{% extends 'base.html' %}
{% block title %}API documentation - Plenar.io{% endblock %}
{% block content %}
  <div class='col-md-10 col-md-offset-1'>
      <h1>API documentation</h1>

      <p><strong>For programmers.</strong> The Plenar.io RESTful API can be used to perform custom geospatial and temporal queries.</p> 

      <p>A few things to know:</p>

      <ul>
        <li>All API calls should be made with <code>HTTP GET</code></li>
        <li>All API responses are in <a href='http://www.json.org/'>JSON format</a> by default. Some responses support <a href='http://en.wikipedia.org/wiki/Comma-separated_values'>CSV format</a>.</li>
        <li>You can consider any non-200 HTTP response code an error - the returned data will contain more detailed information</li>
        <li>All methods are accessed via: <code>http://plenar.io/api/SOME-ENDPOINT</code></li>
      </ul>

      <h2 id='endpoints'>Endpoints</h2>
      <p>Currently there are five API endpoints:</p>
      <ul>
          <li><a href='#api'>/api/</a> - list datasets available in Plenar.io</li>
          <li><a href='#api-master'>/api/master/</a> - for querying aggregate counts of available data bounded by a time window and geography</li>
          <li><a href='#api-fields'>/api/fields/&lt;dataset_name&gt;/</a> - list available fields in a dataset</li>
          <li><a href='#api-detail-aggregate'>/api/detail-aggregate/</a> - perform a specific query a single dataset and return an aggregate count</li>
          <li><a href='#api-detail'>/api/detail/</a> - perform a specific query a single dataset and return all raw data</li>
      </ul>

      <hr />
      <h2 id='api'>/api/</h2>
      <p>This is the “data about the data” endpoint. It contains a record for each dataset.</p>

      <p><strong>Query Parameters</strong></p>
      <p>This API endpoint doesn't take in any query parameters.</p>

      <p><strong>Response Parameters</strong></p>
      <table class='table table-bordered'>
        <thead>
          <tr>
            <th>Parameter</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong><code>description</code></strong></td>
            <td>Verbose, official description of the dataset.</td>
          </tr>
          <tr>
            <td><strong><code>source_url</code></strong></td>
            <td>If available, the URL where the data was originally sourced.</td>
          </tr>
          <tr>
            <td><strong><code>obs_from</code></strong></td>
            <td>Oldest date available in the dataset.</td>
          </tr>
          <tr>
            <td><strong><code>obs_to</code></strong></td>
            <td>Newest date available in the dataset.</td>
          </tr>
          <tr>
            <td><strong><code>human_name</code></strong></td>
            <td>Human friendly name for the dataset.</td>
          </tr>
          <tr>
            <td><strong><code>dataset_name</code></strong></td>
            <td>Machine name for the dataset. Values are passed into the queries below as <code>dataset_name</code>.</td>
          </tr>
          <tr>
            <td><strong><code>update_freq</code></strong></td>
            <td>Update frequency.</td>
          </tr>
        </tbody>
      </table>

      <div class='well examples'>
        <p><strong>Example</strong></p>
        <p>
          <a href='/api/'>http://plenar.io/api/</a><br />
          Returns a list of datasets available in Plenar.io
        </p>
      </div>
      <hr />

      <h2 id='api-master'>/api/master/</h2>
      <p>
          This endpoint contains a record for every row in every dataset with
          brief temporal and spatial information about the row. The endpoint
          should only be called using query parameters. This can give a user
          of the platform a quick overview about what is available within
          their constraints.
      </p>
      
      <p><strong>Query parameters</strong></p>
      <p>All query parameters are optional</p>
      <table class='table table-bordered'>
        <thead>
          <tr>
            <th>Parameter</th>
            <th>Default value</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong><code>agg</code></strong></td>
            <td>day</td>
            <td>
              <p>Under the hood, this takes advantage of
              <a href="http://www.postgresql.org/docs/9.1/static/functions-datetime.html#FUNCTIONS-DATETIME-TRUNC" target="_blank">
                  PostgreSQL’s <code>date_trunc</code> function
              </a>
              and can take any precision values that are valid there. If
              not supplied, this defaults to <code>day</code>. If the supplied
              value is of a higher resolution that the highest available
              temporal resolution for the dataset, it will just aggregate by
              the highest available resolution.</p>

              <p>Typical values:</p>
              <ul>
                <li>hour</li>
                <li>day</li>
                <li>week</li>
                <li>month</li>
                <li>quarter</li>
                <li>year</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td><strong><code>obs_date</code></strong></td>
            <td>greater than or equal to 180 days ago</td>
            <td>Date of obversations. This can
          have filters applied such as <code>__gt</code> (greater than) and <code>__lt</code> (less than).</td>
          </tr>
          <tr>
            <td><strong><code>dataset_name</code></strong></td>
            <td>none</td>
            <td>
              <p>Machine version of the dataset name as you get it from the <code>/api/</code> endpoint. If not provided, returns all available datasets.</p>
              <p>More than one dataset can be requested by using <code>dataset_name__in</code>  and listing multiple comma separated dataset names.</p>
            </td>
          </tr>
          <tr>
            <td><strong><code>location_geom</code></strong></td>
            <td>none</td>
            <td>
              <p>A URL encoded <a href='http://geojson.org/'>GeoJSON</a> polygon representing the area of interest. Currently, the only query operator that can be applied to this is <code>within</code>.</p>

              <p><strong>Example GeoJSON</strong> before it is <a href='http://meyerweb.com/eric/tools/dencoder/'>encoded as a URL parameter</a>:</p>
              <pre>
{
    "type": "Feature",
    "properties": {},
    "geometry": {
        "type": "Polygon",
        "coordinates": [
            [
                [
                    -87.6933217048645,
                    41.825060359418075
                ],
                [
                    -87.6933217048645,
                    41.87671893034394
                ],
                [
                    -87.610924243927,
                    41.87671893034394
                ],
                [
                    -87.610924243927,
                    41.825060359418075
                ],
                [
                    -87.6933217048645,
                    41.825060359418075
                ]
            ]
        ]
    }
}
              </pre>
            </td>
          </tr>
          <tr>
            <td><strong><code>data_type</code></strong></td>
            <td>json</td>
            <td>Response data format. Current options are <code>json</code> and <code>csv</code>. </td>
          </tr>

        </tbody>
      </table>

      <p><strong>Response Parameters</strong></p>
      <p>The API responds with a list of counts grouped by temporal aggregation and dataset name.</p>
      <table class='table table-bordered'>
        <thead>
          <tr>
            <th>Parameter</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong><code>count</code></strong></td>
            <td>Record count</td>
          </tr>
          <tr>
            <td><strong><code>group</code></strong></td>
            <td>Temporal aggregation group</td>
          </tr>
          <tr>
            <td><strong><code>dataset_name</code></strong></td>
            <td>Dataset name for aggregation</td>
          </tr>
        </tbody>
      </table>

      <div class='well examples'>
        <p><strong>Examples</strong></p>
        
        <p><a href='/api/master/?agg=year&dataset_name=crimes_2001_to_present&obs_date__ge=2012-1-1'>http://plenar.io/api/master/?agg=year&dataset_name=crimes_2001_to_present&obs_date__ge=2012-1-1</a>
        <br />Count of all Chicago crime reports since Jan 1st 2012, aggregated by year</p>

        <p><a href='/api/master/?obs_date__gt=2007-11-12&obs_date__lt=2008-11-12&dataset_name__in=crimes_2001_to_present,cdph_environmental_complaints&agg=day'>http://plenar.io/api/master/?obs_date__gt=2007-11-12&obs_date__lt=2008-11-12&dataset_name__in=crimes_2001_to_present,cdph_environmental_complaints&agg=day</a>
        <br />Count of crime and environmental complaints that were observed after November 12, 2007 but before November 12, 2008, aggregated by day</p>

        <p><a href='/api/master/?obs_date__le=2014%2F08%2F20&obs_date__ge=2014%2F02%2F21&agg=week&data_type=csv'>http://plenar.io/api/master/?obs_date__le=2014%2F08%2F20&obs_date__ge=2014%2F02%2F21&agg=week&data_type=csv</a>
        <br />
        Count available datasets from Feb 21, 2014 to Aug 20, 2014, aggregated by week in CSV format. You could also call this a <strong>time series matrix</strong>.
        </p>

        <p><a href='/api/master/?obs_date__le=2014%2F08%2F20&obs_date__ge=2014%2F02%2F21&location_geom__within=%7B%22type%22%3A%22Feature%22%2C%22properties%22%3A%7B%7D%2C%22geometry%22%3A%7B%22type%22%3A%22Polygon%22%2C%22coordinates%22%3A%5B%5B%5B-87.65692949295044%2C41.86853817536259%5D%2C%5B-87.65692949295044%2C41.89716623689334%5D%2C%5B-87.62053728103638%2C41.89716623689334%5D%2C%5B-87.62053728103638%2C41.86853817536259%5D%2C%5B-87.65692949295044%2C41.86853817536259%5D%5D%5D%7D%7D&agg=week'>http://plenar.io/api/master/?obs_date__le=2014%2F08%2F20&obs_date__ge=2014%2F02%2F21&location_geom__within=%7B%22type%22%3A%22Feature%22%2C%22properties%22%3A%7B%7D%2C%22geometry%22%3A%7B%22type%22%3A%22Polygon%22%2C%22coordinates%22%3A%5B%5B%5B-87.65692949295044%2C41.86853817536259%5D%2C%5B-87.65692949295044%2C41.89716623689334%5D%2C%5B-87.62053728103638%2C41.89716623689334%5D%2C%5B-87.62053728103638%2C41.86853817536259%5D%2C%5B-87.65692949295044%2C41.86853817536259%5D%5D%5D%7D%7D&agg=week</a>
        <br />
        All available datasets in a bounding box (downtown Chicago) from Feb 21, 2014 to Aug 20, 2014, aggregated by week.
        </p>
      </div>

      <hr />
      
      <h2 id='api-fields'>/api/fields/&lt;dataset_name&gt;/</h2>
      <p>
          Gives you a listing of all the fields and their data types for the given
          dataset. This is useful for figuring out how to structure a query against the <code>/api/detail/</code> or <code>/api/detail-aggregate/</code> endpoints.
      </p>

      <p><strong>Query Parameters</strong></p>
      <p>This API endpoint doesn't take in any query parameters.</p>

      <p><strong>Response Parameters</strong></p>
      <table class='table table-bordered'>
        <thead>
          <tr>
            <th>Parameter</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong><code>field_type</code></strong></td>
            <td><a href='http://www.postgresql.org/docs/9.3/interactive/datatype.html'>Postgres data type</a> for given field.</td>
          </tr>
          <tr>
            <td><strong><code>field_name</code></strong></td>
            <td>Name of database field. Useful for performing additional queries using the <code>/api/detail-aggregate/</code> and <code>/api/detail/</code> endpoints.</td>
          </tr>
        </tbody>
      </table>

      <div class='well examples'>
        <p><strong>Example</strong></p>
        
        <p><a href='/api/fields/crimes_2001_to_present'>http://plenar.io/api/fields/crimes_2001_to_present</a><br />
        Field definitions for Chicago crime report dataset</p>
      </div>

      <hr />
      <h2 id='api-detail-aggregate'>/api/detail-aggregate/</h2>
      <p>
          Query a particular dataset and get back a temporally aggregated response.
      </p>

      <p><strong>Query parameters</strong></p>
      <p>All query parameters are optional except for <code>dataset_name</code>.</p>
      <table class='table table-bordered'>
        <thead>
          <tr>
            <th>Parameter</th>
            <th>Default value</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong><code>dataset_name</code></strong></td>
            <td>none</td>
            <td><strong>Required.</strong> Machine version of the dataset name as you get it from the <code>/api/</code> endpoint.</td>
          </tr>
          <tr>
            <td><strong><code>[dataset_field]*</code></strong></td>
            <td>none</td>
            <td>
              <p>Any available dataset field. Discoverable via the <code>/api/fields/&lt;dataset_name&gt;/</code> endpoint. Any number of these query parameters can be chained together and are linked together with a SQL <code>AND</code> under the hood.</p>

              <p><strong>Query operators</strong><br/> For any given <code>dataset_field</code>, the query can be modified with any of the following operators:</p>

              <table class='table table-bordered'>
                <thead>
                  <tr>
                    <th>Operator</th>
                    <th>Description</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><strong><code>__gt</code></strong> </td>
                    <td>greater than (<code>&gt;</code>)</td>
                  </tr>
                  <tr>
                    <td><strong><code>__ge</code></strong></td>
                    <td>greater than or equal to (<code>&gt;=</code>)</td>
                  </tr>
                  <tr>
                    <td><strong><code>__lt</code></strong> </td>
                    <td>less than (<code>&lt;</code>)</td>
                  </tr>
                  <tr>
                    <td><strong><code>__le</code></strong></td>
                    <td>less than or equal to (<code>&lt;=</code>)</td>
                  </tr>
                  <tr>
                    <td><strong><code>__ne</code></strong> </td>
                    <td>not equal (<code>!=</code>)</td>
                  </tr>
                  <tr>
                    <td><strong><code>__in</code></strong> </td>
                    <td>within a list of provided values (<code>IN ('list', 'of', 'values')</code>)</td>
                  </tr>
                </tbody>
              </table>

              <p><strong>Example:</strong> <code>ward__ge=48</code> translates to "ward >= 48" in SQL</p>
            </td>
          </tr>
          <tr>
            <td><strong><code>agg</code></strong></td>
            <td>day</td>
            <td>
              <p>Under the hood, this takes advantage of
              <a href="http://www.postgresql.org/docs/9.1/static/functions-datetime.html#FUNCTIONS-DATETIME-TRUNC" target="_blank">
                  PostgreSQL’s <code>date_trunc</code> function
              </a>
              and can take any precision values that are valid there. If
              not supplied, this defaults to <code>day</code>. If the supplied
              value is of a higher resolution that the highest available
              temporal resolution for the dataset, it will just aggregate by
              the highest available resolution.</p>

              <p>Typical values:</p>
              <ul>
                <li>hour</li>
                <li>day</li>
                <li>week</li>
                <li>month</li>
                <li>quarter</li>
                <li>year</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td><strong><code>obs_date</code></strong></td>
            <td>greater than or equal to 180 days ago</td>
            <td>Date of obversations. This can
          have filters applied such as <code>__gt</code> (greater than) and <code>__lt</code> (less than).</td>
          </tr>
          <tr>
            <td><strong><code>location_geom</code></strong></td>
            <td>none</td>
            <td>A <a href='https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/JSON/stringify'>stringified</a> <a href='http://geojson.org/'>GeoJSON</a> polygon representing the area of interest. Currently, the only query operator that can be applied to this is <code>within</code>.</td>
          </tr>
          <tr>
            <td><strong><code>data_type</code></strong></td>
            <td>json</td>
            <td>Response data format. Current options are <code>json</code> and <code>csv</code>. </td>
          </tr>

        </tbody>
      </table>

      <p><strong>Response Parameters</strong></p>
      <p>The API responds with a list of counts grouped by temporal aggregation and dataset name.</p>
      <table class='table table-bordered'>
        <thead>
          <tr>
            <th>Parameter</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong><code>count</code></strong></td>
            <td>Record count</td>
          </tr>
          <tr>
            <td><strong><code>group</code></strong></td>
            <td>Temporal aggregation group</td>
          </tr>
          <tr>
            <td><strong><code>dataset_name</code></strong></td>
            <td>Dataset name for aggregation</td>
          </tr>
        </tbody>
      </table>

      <div class='well examples'>
        <p><strong>Example</strong></p>
        
        <p><a href='/api/detail-aggregate/?agg=year&dataset_name=crimes_2001_to_present&obs_date__ge=2012-1-1&iucr=0110'>http://plenar.io/api/detail-aggregate/?agg=year&dataset_name=crimes_2001_to_present&obs_date__ge=2012-1-1&iucr=0110</a><br />
        Chicago crime reports since Jan 1st 2012, aggregated by year with <a href='http://gis.chicagopolice.org/clearmap_crime_sums/crime_types.html'>IUCR code</a> of '0110' (homicide)</p>
      </div>

      <hr />
      <h2 id='api-detail'>/api/detail/</h2>
      <p>
          Query a particular dataset and get back the raw individual records.
      </p>

      <p><strong>Query parameters</strong></p>
      <p>All query parameters are optional except for <code>dataset_name</code>.</p>
      <table class='table table-bordered'>
        <thead>
          <tr>
            <th>Parameter</th>
            <th>Default value</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong><code>dataset_name</code></strong></td>
            <td>none</td>
            <td><strong>Required.</strong> Machine version of the dataset name as you get it from the <code>/api/</code> endpoint.</td>
          </tr>
          <tr>
            <td><strong><code>[dataset_field]*</code></strong></td>
            <td>none</td>
            <td>
              <p>Any available dataset field. Discoverable via the <code>/api/fields/&lt;dataset_name&gt;/</code> endpoint. Any number of these query parameters can be chained together and are linked together with a SQL <code>AND</code> under the hood.</p>

              <p><strong>Query operators</strong><br/> For any given <code>dataset_field</code>, the query can be modified with any of the following operators:</p>

              <table class='table table-bordered'>
                <thead>
                  <tr>
                    <th>Operator</th>
                    <th>Description</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><strong><code>__gt</code></strong> </td>
                    <td>greater than (<code>&gt;</code>)</td>
                  </tr>
                  <tr>
                    <td><strong><code>__ge</code></strong></td>
                    <td> greater than or equal to (<code>&gt;=</code>)</td>
                  </tr>
                  <tr>
                    <td><strong><code>__lt</code></strong> </td>
                    <td>less than (<code>&lt;</code>)</td>
                  </tr>
                  <tr>
                    <td><strong><code>__le</code></strong></td>
                    <td> less than or equal to (<code>&lt;=</code>)</td>
                  </tr>
                  <tr>
                    <td><strong><code>__ne</code></strong> </td>
                    <td>not equal (<code>!=</code>)</td>
                  </tr>
                  <tr>
                    <td><strong><code>__in</code></strong> </td>
                    <td>within a list of provided values (<code>IN ('list', 'of', 'values')</code>)</td>
                  </tr>
                </tbody>
              </table>

              <p><strong>Example:</strong> <code>ward__ge=48</code> translates to "ward >= 48" in SQL</p>
            </td>
          </tr>
          <tr>
            <td><strong><code>obs_date</code></strong></td>
            <td>greater than or equal to 30 days ago</td>
            <td>Date of obversations. This can
          have filters applied such as <code>__gt</code> (greater than) and <code>__lt</code> (less than).</td>
          </tr>
          <tr>
            <td><strong><code>location_geom</code></strong></td>
            <td>none</td>
            <td>A <a href='https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/JSON/stringify'>stringified</a> <a href='http://geojson.org/'>GeoJSON</a> polygon representing the area of interest. Currently, the only query operator that can be applied to this is <code>within</code>.</td>
          </tr>
          <tr>
            <td><strong><code>data_type</code></strong></td>
            <td>json</td>
            <td>Response data format. Current options are <code>json</code> and <code>csv</code>. </td>
          </tr>

        </tbody>
      </table>

      <p><strong>Response Parameters</strong></p>
      <p>The API responds with a list of raw records for the particular dataset. The fields returned will vary per dataset.</p>

      <div class='well examples'>
        <p><strong>Example</strong></p>
        
        <p><a href='/api/detail/?dataset_name=crimes_2001_to_present&obs_date__ge=2014-1-1&iucr=0110'>http://plenar.io/api/detail/?dataset_name=crimes_2001_to_present&obs_date__ge=2014-1-1&iucr=0110</a><br />
        Chicago crime reports since Jan 1st 2014 with <a href='http://gis.chicagopolice.org/clearmap_crime_sums/crime_types.html'>IUCR code</a> of '0110' (homicide)</p>
      </div>
  </div>
{% endblock content %}
