{% extends 'submit-dataset.html' %}

{% block title %}  Add a dataset to Plenar.io - Plenar.io{% endblock %}
{% block headline %} Add a dataset to Plenar.io{% endblock %}

{% block submit_instructions %}
    If you know of a dataset you would like to see in Plenar.io, suggest it here. <br />Once submitted, we'll review it. If approved we'll email when your data has been added.
{% endblock submit_instructions %}



{% block submit_form %} 

    {% if socrata_source %}
         {{ add_socrata_dataset(dataset_info, 'Contribute' ) }}
    {% else %}
         {{ add_csv_dataset(dataset_info, 'Contribute' ) }}
    {% endif %}

{% endblock %}

{% block extra_javascript %}
    <script src="{{ url_for('static', filename='js/add_dataset_validation.js') }}"></script>
{% endblock %}