{% extends 'base.html' %}
{% block title %}Plenario Explorer{% endblock %}
{% block override_css %}
    <base href="/explore"/>
    <link href="http://plenario-test-bucket.s3-website-us-east-1.amazonaws.com/assets/vendor.css" rel="stylesheet">
    <link href="http://plenario-test-bucket.s3-website-us-east-1.amazonaws.com/assets/plenario-explorer.css" rel="stylesheet">
{% endblock %}
{% block content %}
    <div id="ember-app"></div>
{% endblock %}
{% block override_js %}
    <script type="text/javascript" src="http://plenario-test-bucket.s3-website-us-east-1.amazonaws.com/assets/vendor.js"></script>
    <script type="text/javascript" src="http://plenario-test-bucket.s3-website-us-east-1.amazonaws.com/assets/plenario-explorer.js"></script>
{% endblock %}