{% extends 'base.html' %}
{% block title %}Plenario Explorer{% endblock %}
{% block override_css %}
    <base href="/explore"/>
    <link href="https://s3.us-east-2.amazonaws.com/plenario-explorer-dev/assets/vendor.css" rel="stylesheet">
    <link href="https://s3.us-east-2.amazonaws.com/plenario-explorer-dev/assets/plenario-explorer.css" rel="stylesheet">
{% endblock %}
{% block content %}
    <div id="ember-app"></div>
{% endblock %}
{% block override_js %}
    <script type="text/javascript" src="https://s3.us-east-2.amazonaws.com/plenario-explorer-dev/assets/vendor.js"></script>
    <script type="text/javascript" src="https://s3.us-east-2.amazonaws.com/plenario-explorer-dev/assets/plenario-explorer.js"></script>
{% endblock %}