{% extends 'base.html' %}
{% block title %}Data Explorer - Plenar.io{% endblock %}
{% block extra_styles %}
    <link href="{{ url_for('static', filename='css/leaflet.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/leaflet.draw.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/leaflet.label.css') }}" rel="stylesheet">
    <link href="//cdn.datatables.net/1.10.2/css/jquery.dataTables.css" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div id="map-view"></div>
        </div>
        <div class="col-md-12">
            <div id="list-view"></div>
            <div id="detail-view"></div>
        </div>
    </div>
    <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="error" aria-hidden="true"></div>
{% endblock %}
{% block extra_javascript %}
    <script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jenks.js') }}" type="text/javascript"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/underscore-min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/backbone-min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/spin.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.spin.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/leaflet.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/leaflet.draw.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/leaflet.label.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.dataTables.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/highcharts.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/chart_helper.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/explore/helpers.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/explore/router.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/explore/views/about-view.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/explore/views/map-view.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/explore/views/response-view.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/explore/views/detail-view.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/explore/views/filter-view.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/explore/views/response-view.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/explore/views/polygon-view.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/explore/views/error-view.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/explore/app.js') }}"></script>
{% endblock %}
