{% extends 'base.html' %}
{% block title %}Plenar.io - A spatio-temporal open data platform{% endblock %}
{% block content %}
  <div class='col-md-8 col-md-offset-2 container'>

    <br/>
    <div class="jumbotron">
      <div class="row" style="display:inline-block"><img src='/static/images/logo-large.png' class='img-responsive' alt='Plenar.io logo' height="100px" width="100px"/></div>
      <h2 style="font-size: 40px;">The next stage in open data.</h2>
       <p>Plenario is a centralized hub for open datasets from around the world, ready to search and download.</p>
      <p>
        <a class="btn btn-primary btn-lg" role="button" href="{{ url_for('views.explore_view') }}"><i class='fa fa-globe'></i> Explore</a>
        <a class="btn btn-info btn-lg" role="button" href="{{ url_for('views.contrib_view') }}"><i class='fa fa-plus-circle'></i> Add data</a>
      </p>
    </div>

    <h3>One database. One map.</h3>
    <p class="lead">All data in Plenario exists on a single map and a single timeline, making it incredibly easy to access multiple datasets at once&mdash;especially those originally housed at different data portals.</p>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class='well'>
          <p><strong>Here&rsquo;s an example</strong>: <a href='/explore#aggregate/dataset_name__in=crimes_2001_to_present,food_inspections,business_licenses&obs_date__le=2013%2F09%2F01&obs_date__ge=2013%2F06%2F01&location_geom__within=%7B%22type%22%3A%22Feature%22%2C%22properties%22%3A%7B%7D%2C%22geometry%22%3A%7B%22type%22%3A%22Polygon%22%2C%22coordinates%22%3A%5B%5B%5B-87.5720751285553%2C41.8496161693754%5D%2C%5B-87.6379930973053%2C41.8526849831226%5D%2C%5B-87.8137743473053%2C41.79691191119474%5D%2C%5B-87.8137743473053%2C41.68316883525891%5D%2C%5B-87.52400994300842%2C41.66265316924903%5D%2C%5B-87.52332329750061%2C41.74672584176937%5D%2C%5B-87.5720751285553%2C41.8496161693754%5D%5D%5D%7D%7D&agg=day'>Crimes, business licenses, and food inspections in Southside Chicago during summer 2013.
          <p><img src='/static/images/southside-chicago.png' class='img-responsive img-thumbnail' alt='Plenar.io Data Explorer' /></p></a>
          <p class="text-center"><a class="btn btn-info" href="{{ url_for('views.explore_view') }}">Try it yourself&nbsp;&nbsp;<i class="fa fa-arrow-circle-right"></i></a> <a class="btn btn-default" href="/v1/api/timeseries/?dataset_name__in=crimes_2001_to_present,food_inspections,business_licenses&obs_date__le=2013%2F09%2F01&obs_date__ge=2013%2F06%2F01&location_geom__within=%7B%22type%22%3A%22Feature%22%2C%22properties%22%3A%7B%7D%2C%22geometry%22%3A%7B%22type%22%3A%22Polygon%22%2C%22coordinates%22%3A%5B%5B%5B-87.5720751285553%2C41.8496161693754%5D%2C%5B-87.6379930973053%2C41.8526849831226%5D%2C%5B-87.8137743473053%2C41.79691191119474%5D%2C%5B-87.8137743473053%2C41.68316883525891%5D%2C%5B-87.52400994300842%2C41.66265316924903%5D%2C%5B-87.52332329750061%2C41.74672584176937%5D%2C%5B-87.5720751285553%2C41.8496161693754%5D%5D%5D%7D%7D&agg=day">See JSON response&nbsp;&nbsp;<i class="fa fa-gear"></i></a><p>
        </div>
      </div>
    </div>

    <h3>Anyone can add data.</h3>
    <p>Anyone can add datasets to Plenario via the <a href='http://plenar.io/contribute'>Add dataset form</a>. You can add any publicly available URL for a CSV or Socrata dataset that includes a unique ID, date, and location information.</p>

    <p class="text-center"><a class="btn btn-info btn-lg" href="{{ url_for('views.contrib_view') }}">Add a dataset&nbsp;&nbsp;<i class="fa fa-arrow-circle-right"></i></a></p>

    <h3>Extremely easy to access.</h3>
    <p class="lead">No coding, no NDAs, no navigating government websites older than you are. Accessing the data is as easy as selecting dates and drawing on a map. (Don't worry, you can still <a href="{{ url_for('views.api_docs_view') }}#docs">code</a>.)</p>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class='well'>
          <p><a href="{{ url_for('views.explore_view') }}"><img src='/static/images/plenario-explorer.png' class='img-responsive img-thumbnail' alt='Plenar.io Data Explorer' /></a></p>
          <p class="text-center"><a class="btn btn-info" href="{{ url_for('views.explore_view') }}">Try it yourself&nbsp;&nbsp;<i class="fa fa-arrow-circle-right"></i></a> <a class="btn btn-default" href="{{ url_for('views.examples_view') }}">See some examples&nbsp;&nbsp;<i class="fa fa-gear"></i></a><p>
        </div>
      </div>
    </div>

    <h3>Enormous variety of data.</h3>
    <p class="lead">City data portals, the federal government, individual datasets&mdash;we have it all, whether originally housed at Socrata or CKAN data portals or in CSV format.</p>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class='well'>
          <p class="text-center"><a href="{{ url_for('views.explore_view') }}"><img src='/static/images/view-datasets.png' class='img-responsive img-thumbnail' alt='Plenar.io Data Explorer' /></a></p>
          <p class="text-center"><a class="btn btn-info" href="{{ url_for('views.explore_view') }}">Take a look&nbsp;&nbsp;<i class="fa fa-arrow-circle-right"></i></a> <a class="btn btn-default" href="/v1/api/datasets">Metadata for all datasets&nbsp;&nbsp;<i class="fa fa-gear"></i></a></p>
        </div>
      </div>
    </div>

    <h3>Tell the story of place.</h3>
    <p class="lead">With all the data at your fingertips, you can watch places change over time.</p>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class='well'>
          <p><strong>Here&rsquo;s an example</strong>: <a href="/explore#aggregate/obs_date__ge=2013%2F01%2F01&location_geom__within=%7B%22type%22%3A%22Feature%22%2C%22properties%22%3A%7B%7D%2C%22geometry%22%3A%7B%22type%22%3A%22Polygon%22%2C%22coordinates%22%3A%5B%5B%5B-87.637939453125%2C41.88694340165636%5D%2C%5B-87.62746810913086%2C41.8875823767912%5D%2C%5B-87.62454986572266%2C41.88898809959183%5D%2C%5B-87.60944366455078%2C41.88834913851702%5D%2C%5B-87.6101303100586%2C41.86700416724044%5D%2C%5B-87.63450622558592%2C41.867387672721804%5D%2C%5B-87.63725280761719%2C41.876974562065904%5D%2C%5B-87.637939453125%2C41.88694340165636%5D%5D%5D%7D%7D&agg=week">Get a week-by-week look at downtown Chicago since 2013</a>.</p>
          <p class="text-center"><a href="/explore#aggregate/obs_date__ge=2013%2F01%2F01&location_geom__within=%7B%22type%22%3A%22Feature%22%2C%22properties%22%3A%7B%7D%2C%22geometry%22%3A%7B%22type%22%3A%22Polygon%22%2C%22coordinates%22%3A%5B%5B%5B-87.637939453125%2C41.88694340165636%5D%2C%5B-87.62746810913086%2C41.8875823767912%5D%2C%5B-87.62454986572266%2C41.88898809959183%5D%2C%5B-87.60944366455078%2C41.88834913851702%5D%2C%5B-87.6101303100586%2C41.86700416724044%5D%2C%5B-87.63450622558592%2C41.867387672721804%5D%2C%5B-87.63725280761719%2C41.876974562065904%5D%2C%5B-87.637939453125%2C41.88694340165636%5D%5D%5D%7D%7D&agg=week"><img src='/static/images/downtown-chicago.png' class='img-responsive img-thumbnail' alt='Plenar.io Data Explorer' /></a></p>
          <p class="text-center"><a class="btn btn-info" href="{{ url_for('views.explore_view') }}">See your own city&nbsp;&nbsp;<i class="fa fa-arrow-circle-right"></i></a>  <a class="btn btn-default" href="/v1/api/timeseries/?obs_date__ge=2013%2F01%2F01&location_geom__within=%7B%22type%22%3A%22Feature%22%2C%22properties%22%3A%7B%7D%2C%22geometry%22%3A%7B%22type%22%3A%22Polygon%22%2C%22coordinates%22%3A%5B%5B%5B-87.637939453125%2C41.88694340165636%5D%2C%5B-87.62746810913086%2C41.8875823767912%5D%2C%5B-87.62454986572266%2C41.88898809959183%5D%2C%5B-87.60944366455078%2C41.88834913851702%5D%2C%5B-87.6101303100586%2C41.86700416724044%5D%2C%5B-87.63450622558592%2C41.867387672721804%5D%2C%5B-87.63725280761719%2C41.876974562065904%5D%2C%5B-87.637939453125%2C41.88694340165636%5D%5D%5D%7D%7D&agg=week">See JSON response&nbsp;&nbsp;<i class="fa fa-gear"></i></a><p>
        </div>
      </div>
    </div>

    <h3>Rich, contextualized data.</h3>
    <p class="lead">All data points are automatically connected to their census block and local weather for a more holistic understanding of the complex urban environment.</p>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class='well'>
          <p><strong>Here&rsquo;s an example</strong>: <a href="/v1/api/detail/?dataset_name=nypd_motor_vehicle_collisions&obs_date__ge=2014-03-23&obs_date__le=2014-09-23&borough=MANHATTAN&number_of_persons_killed__gt=0&weather=true">Recent fatal traffic accidents in Manhattan with the weather at the time</a>.</p>
          <p class="text-center"><a class="btn btn-info" href="{{ url_for('views.examples_view') }}">See more examples&nbsp;&nbsp;<i class="fa fa-arrow-circle-right"></i></a> <a class="btn btn-default" href="{{ url_for('views.examples_view') }}#collapse-ex-3">Edit this query&nbsp;&nbsp;<i class="fa fa-gear"></i></a><p>
        </div>
      </div>
    </div>

    <h3>Let&rsquo;s build something bigger than all of us.</h3>
    <p class="lead">Plenario, currently in its alpha stage, is fully open source, collaborative, extensible, and growing every day. It isn&rsquo;t just a platform&mdash;it&rsquo;s a <a href='https://groups.google.com/forum/#!forum/plenariodataportal'>community</a> and a new way to think about open data.</p>
    <br/>
    <p class="text-center">
      <a class="btn btn-default btn-lg" href="https://groups.google.com/forum/#!forum/plenariodataportal">Join our Google Group&nbsp;&nbsp;<i class="fa fa-arrow-circle-right"></i></a>
      <a class="btn btn-info btn-lg" href="{{ url_for('views.about_view') }}#mission">Read more about our mission&nbsp;&nbsp;<i class="fa fa-arrow-circle-right"></i></a>
    </p>
    <br/>
    <br/>
    <br/>
    <br/>


  </div>
{% endblock content %}
