{% extends 'base.html' %}
{% block title %}About - Plenar.io{% endblock %}
{% block content %}
  <div class='col-md-10 col-md-offset-1'>
    <h1>Plenar.io: A spatio-temporal open data platform</h1>
    <p>Levels of government from the <a href="http://data.gov">US Federal Government</a> to individual municipalities like <a href="http://data.cityofchicago.org">the City of Chicago</a> have started releasing open data to the public . 

    Plenar.io tells a unified story of place by centralizing data from these various sources in order to increase accessibility and help ordinary citizens and researchers draw connections between datasets. Data can be viewed via a map interface and accessed by download or via a RESTful API. 
    </p>
    <h3>Applications (under development)</h3>
    <p>
      <ul>
        <li><a href="{{ url_for('views.explore_view') }}">Data Explorer</a></li>
        <li><a href="{{ url_for('views.api_docs_view') }}">API documentation</a></li>
      </ul>
    </p>
    <hr />
	<h3><a href="{{ url_for('views.about_view') }}">About</a></h3>
	<p>
    This project is funded by the <a href="http://www.nsf.gov/dir/index.jsp?org=SBE">NSF Social, Behavioral, and Economics Research Directorate</a> through a grant to the University of Chicago Urban Center for Computation and Data (<a href="https://urbanccd.org/">UrbanCCD</a>). It is being implemented by UrbanCCD and <a href="http://datamade.us">DataMade</a>.
	</p>
  </div>
{% endblock content %}
