{% extends 'base.html' %}
{% block title %}Reset password - Plenar.io{% endblock %}
{% block content %}
    <div class="row">
        <div class='col-md-4 col-md-offset-4'>
            <h2>Reset password</h2>
            <form role="form" method="POST">
                {{form.csrf_token}}
                    {% if form.old_password.errors or errors %}
                    <div class="form-group has-error has-feedback">
                    {% else %}
                    <div class="form-group">
                    {% endif %}
                        <input name="old_password" type="password" class="form-control" placeholder="Old password" />
                        {% if form.old_password.errors %}
                            {% for error in form.old_password.errors %}
                            <span class="help-block"><i class="fa fa-exclamation"></i> {{error}}</span>
                            {% endfor %}
                        {% endif %}
                        {% if errors %}
                            {% for error in errors %}
                            <span class="help-block"><i class="fa fa-exclamation"></i> {{error}}</span>
                            {% endfor %}
                        {% endif %}
                    </div>
                    {% if form.new_password.errors %}
                    <div class="form-group has-error has-feedback">
                    {% else %}
                    <div class="form-group">
                    {% endif %}
                        <input name="new_password" type="password" class="form-control" placeholder="New password" />
                        {% if form.new_password.errors %}
                            <span class="glyphicon form-control-feedback"></span>
                            {% for error in form.new_password.errors %}
                            <span class="help-block"><i class="fa fa-exclamation"></i> {{error}}</span>
                            {% endfor %}
                        {% endif %}
                    </div>
                <div class="form-group">
                    <button class="btn" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
