{% extends 'submit-dataset.html' %}
{% from "macros/add-shapefile-dataset.html" import add_shapefile_dataset %}

{% set is_shape=True %}

{% block headline %}
    Submit a new shapefile.
{% endblock headline %}

{% block submission %}

    <p><em><span class="red">*</span> denotes a required field</em></p>

     <h3>Link to a shapefile</h3>
            {% block fetch_details %}
            <form role="form" method="GET" id="fetch-details-form">
                <div class="form-group">
                    {% if dataset_info %}
                    <input type="text" class="form-control" name="dataset_url" value="{{dataset_info.submitted_url}}" />
                    {% else %}
                    <input type="text" class="form-control" name="dataset_url" placeholder="http://data.mycity.gov/path/to/file.csv"/>
                    {% endif %}
                    <p class="help-block">Publicly available URL for a data source in CSV format or a Socrata dataset.</p>
                </div>
                <div class="form-group">
                    <button class="btn btn-info" type="submit">Fetch details &raquo;</button>
                </div>
            </form>
            {% endblock fetch_details %}

              {% if dataset_info %}
                {% block submit_form %}
                    {{ add_shapefile_dataset(submit_button_verb=submit_button_verb, dataset_info=dataset_info) }}
                {% endblock %}
              {% endif %}
{% endblock submission %}

{% block extra_javascript %}
    <script src="{{ url_for('static', filename='js/validator.js') }}"></script>
{% endblock extra_javascript %}

{% macro bootstrap_validate_field(type, name, description, placeholder, help_message, error_message) %}
    <div class="form-group">
        <label for="{{ name }}" class="control-label"><span class="red">*</span>{{ description }}</label>
        <input type="{{ type }}" class="form-control"
               data-error="{{ error_message }}" name="{{ name }}" placeholder="{{ placeholder }}" required>
        <p class="help-block with-errors">{{ help_message }}</p>
    </div>
{% endmacro %}