{% extends 'submit-dataset.html' %}
{% from "macros/contributor-form.html" import contributor_form %}
{% from "macros/metadata-form-fragment.html" import metadata_form_fragment %}

{% block headline %}
    Submit a new shapefile.
{% endblock headline %}

{% block requirements %}
    <p>Detailed requirements go here. Should be a shapefile, ya dig?</p>
{% endblock requirements %}

{% block submission %}

    <p><em><span class="red">*</span> denotes a required field</em></p>

     <h3>Link to a shapefile</h3>
            {% block fetch_details %}
            <form role="form" method="GET" id="fetch-details-form">
                <input type="hidden" name="is_shapefile" value="true">
                <div class="form-group">
                    {% if submitted_url %}
                        <input type="text" class="form-control" name="dataset_url" value="{{submitted_url}}" />
                    {% else %}
                        <input type="text" class="form-control" name="dataset_url" placeholder="http://data.mycity.gov/path/to/shape.zip"/>
                    {% endif %}
                    <p class="help-block">Publicly available URL for a shapefile.</p>
                </div>
                <div class="form-group">
                    <button class="btn btn-info" type="submit">Fetch details &raquo;</button>
                </div>
            </form>
            {% endblock fetch_details %}

                {# Use file_url as our sentinel to judge if the user has suggested a dataset #}
              {% if file_url %}
                    <hr />
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <form role="form" class="form" method="POST">
                                <input type="hidden" name="is_shapefile" value="true">
                                {{ metadata_form_fragment(human_name, attribution, description, file_url, view_url) }}
                                {{ contributor_form(is_admin, contributor_name, contributor_organization, contributor_email) }}

                                <hr />
                                <p>
                                    <button type="submit" class="btn btn-success" id="datatype-submit">
                                      Submit &raquo;
                                    </button>
                                </p>
                            </form>
                        </div>
                    </div>
              {% endif %}
{% endblock submission %}

{% block extra_javascript %}
    <script src="{{ url_for('static', filename='js/validator.js') }}"></script>
{% endblock extra_javascript %}

{% macro bootstrap_validate_field(type, name, description, placeholder, help_message, error_message) %}
    <div class="form-group">
        <label for="{{ name }}" class="control-label"><span class="red">*</span>{{ description }}</label>
        <input type="{{ type }}" class="form-control"
               data-error="{{ error_message }}" name="{{ name }}" placeholder="{{ placeholder }}" required>
        <p class="help-block with-errors">{{ help_message }}</p>
    </div>
{% endmacro %}