{% extends 'submit-dataset.html' %}
{% from "macros/contributor-form.html" import contributor_form %}
{% from "macros/metadata-form-fragment.html" import metadata_form_fragment %}

{% set submit_button_verb = "Submit" if is_admin else "Contribute" %}

{% block requirements %}
    <div class="panel-group" id="accordion-api-datasets">
      <div class="panel panel-default">
        <div class="panel-heading">
          <a data-toggle="collapse" data-parent="#accordion-api-datasets" href="#collapse-api-datasets" id="api-datasets">
            <span class='label label-info'>Requirements</span>
            Dataset must include fields with an <strong>Observation date</strong> and <strong>Location</strong>. Read more &raquo;
          </a>
        </div>
        <div id="collapse-api-datasets" class="panel-collapse collapse">
          <div class="panel-body">

              <p>Currently, Plenar.io is able to accept any URL to a <strong>comma separated value (CSV)</strong> or link to a dataset on a <strong>Socrata data portal</strong> (like <a href='https://data.cityofchicago.org/'>data.cityofchicago.org</a>) that has fields with the following attributes:</p>

              <table class='table table-bordered'>
                  <thead>
                    <tr>
                      <th>Column</th>
                      <th>Description</th>
                      <th>Example</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><strong><code>Observation&nbsp;date</code></strong></td>
                      <td>a date or datetime field for each observation</td>
                      <td>'1999-01-08'<br />'January 8, 1999'<br />'1/8/1999' <br />or <a href='http://www.postgresql.org/docs/9.3/static/datatype-datetime.html#DATATYPE-DATETIME-DATE-TABLE'>any date format supported by Postgres</a></td>
                    </tr>
                    <tr>
                      <td><strong><code>Latitude/Longitude</code></strong> or <strong><code>Location</code></strong></td>
                      <td>either two fields with latitude and longitude , or a single field with both of them formatted <code>(latitude, longitude)</code></td>
                      <td>'41.425, -88.419'</td>
                    </tr>
                  </tbody>
              </table>
          </div>
        </div>
      </div>
    </div>
{% endblock requirements %}

{% block submission %}
     <h3>Link to a dataset</h3>
            {% block fetch_details %}
            <form role="form" method="GET" id="fetch-details-form">
                <div class="form-group">
                    {% if submitted_url %}
                        <input type="text" class="form-control" name="submitted_url" value="{{submitted_url}}" />
                    {% else %}
                        <input type="text" class="form-control" name="dataset_url" placeholder="http://data.mycity.gov/path/to/file.csv"/>
                    {% endif %}
                    <p class="help-block">Publicly available URL for a data source in CSV format or a Socrata dataset.</p>
                </div>
                <div class="form-group">
                    <button class="btn btn-info" type="submit">Fetch details &raquo;</button>
                </div>
            </form>
            {% endblock fetch_details %}

                {# Use file_url as our sentinel to judge
                if the user has suggested a dataset #}
              {% if file_url %}
                  <hr />
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <form role="form" class="form" method="POST">
                                <input type="text" class="form-control" name="file_url" value="{{file_url}}" />
                                <p class="help-block">The URL where the shapefile is located.</p>

                                {% if view_url %}
                                    <input type="text" class="form-control" name="view_url" value="{{view_url}}" />
                                {% else %}
                                    <input type="text" class="form-control" name="dataset_url" placeholder="http://data.mycity.gov/info/about/shape.html"/>
                                {% endif %}
                                <p class="help-block">If available, URL to a web page with information about this dataset.</p>

                                    {{ metadata_form_fragment(human_name, attribution, description) }}

                                <p>Below, select which columns correspond to the <code>Observation date</code>, <code>Latitude</code> and <code>Longitude</code> fields for your dataset. These are all <span class="red">*</span>required.</p>

                                <table class="table">
                                    <thead>
                                        <th>Choose Type</th>
                                        <th>Name</th>
                                        <th>Data Type</th>
                                        {% if columns|has_description %}
                                            <th style="width: 30%">Description</th>
                                        {% endif %}
                                    </thead>
                                    <tbody>
                                        {% for col in columns %}
                                            <tr>
                                                <td>
                                                    <select id="col_name_{{col.human_name|slugify}}" name="col_name_{{col.human_name|slugify}}" class="plenario-field form-control">
                                                        <option value="">---------</option>
                                                        <option value="observed_date">Observation date</option>
                                                        <option value="latitude">Latitude</option>
                                                        <option value="longitude">Longitude</option>
                                                        <option value="location">Location</option>
                                                    </select>
                                                </td>
                                                <td>{{ col.human_name }}</td>
                                                <td>{{ col.data_type }}</td>
                                                <td>{{ col.description }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>

                                    {{ contributor_form(submit_button_verb, contributor_name, contributor_organization, contributor_email) }}

                                <hr />
                                <div class="row">
                                    <div class="col-md-4 col-md-offset-0">
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-success" id="datatype-submit">
                                                Submit &raquo;
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
              {% endif %}
{% endblock submission %}