{% extends 'base.html' %}
{% block title %}LICENSE - Plenar.io{% endblock %}
{% block content %}
<h1 class="text-center">Terms of Use</h1>
<br />
<div class="well">
	<h3>DISCLAIMER OF LIABILITY</h3>

<p>Plenar.io ("the website") voluntarily provides the data on this website as a service to the public. Plenar.io makes no warranty, representation, or guaranty as to the content, accuracy, timeliness, or completeness of any of the data provided at this website.  Plenar.io makes this data available on an “as is” basis and explicitly disclaims any representations and warranties, including, without limitation, the implied warranties of merchantability and fitness for a particular purpose.  Plenar.io shall assume no liability for: 1. any errors, omissions, or inaccuracies in the data provided at this website regardless how caused; or, 2. any decision made or action taken or not taken by anyone using or relying upon data provided at this website. Plenar.io assumes no liability for any virus or other damage to any computer that might occur during or as a result of accessing this website or the data provided herein.
</p>
<h3>USE OF DATA</h3>

<p>Plenar.io may require a user of this data to terminate any and all display, distribution or other use of any or all of the data provided at this website for any reason including, without limitation, violation of these Terms of Use or other terms as defined by the original sources of datasets on this website.
</p>
<p>Any user of this website providing any software application, or other secondary or derivative application using data supplied at this website shall do the following:
</p>
<p>Include the following disclaimer at the site where the software application, or other secondary or derivative application can be accessed or downloaded:
</p>
<p>“This site provides applications using data provided by www.plenar.io. Plenar.io makes no claims as to the content, accuracy, timeliness, or completeness of any of the data provided at this site.  The data provided at this site is subject to change at any time.  It is understood that the data provided at this site is being used at one’s own risk.”
</p>
<p>Comply with any additional Terms of Use set forth by the original source of any dataset used by the software application, or other secondary or derivative application, including, without limitation, requirements to include additional citations or disclaimers at the site where the application can be accessed or downloaded.      
</p>
 

<h3>RESERVATION OF RIGHTS</h3>

<p>Plenar.io reserves the right to discontinue availability of content on this website at any time and for any reason. These Terms of Use do not grant anyone any title or right to any patent, copyright, trademark or other intellectual property rights that Plenar.io may have in any of the information, images, software, or processes displayed or used at this website.</p>

 

<h3>INDEMNITY</h3>

<p>To the fullest extent permitted by law, any user of the data provided at this website shall indemnify and hold harmless Plenar.io from any claim, loss, damage, injury, or liability of any kind (including, without limitation, incidental and consequential damages, court costs, attorney’s fees and costs of investigation), that arises directly or indirectly, in whole or in part, from that user’s use of this data, including any secondary or derivative use of the information provided herein.</p>
 

<h3>REPORTING ERRORS OR OTHER PROBLEMS ON THIS SITE</h3>

<p>Users of this website should report any errors or problems that they encounter while using this website or accessing the data provided herein. Feedback can be provided to <a href='http://datamade.us/contact-us/'>DataMade</a>.</p>
	<br />
	<p><a class="btn btn-info" href="{{ url_for('views.index') }}">&laquo; Go back to the home page</a></p>
</div>
{% endblock %}