{% extends 'admin/index.html' %}

{% block body %}

    <ul class="list-group">
        {% for element in elements %}
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-12">
                        <h4>{{ element.datetime }}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h5>{{ element.sensor }}</h5>
                    </div>
                    <div class="col-md-6">
                        <h5>Incoming</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <pre>{{ element.expected }}</pre>
                    </div>
                    <div class="col-md-6">
                        <pre>{{ element.incoming }}</pre>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
