.DS_Store
*.pyc
*.swp
Icon?
.dropbox
.coverage
celerybeat-schedule
data/
notebooks/
.env
*~
#.*#
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.idea/
# Elastic Beanstalk Test Packages
*.testy.zip
*.todo