language: python
python:
- '3.5'
addons:
  postgresql: '9.4'
  apt:
    packages:
    - gdal-bin
    - postgresql-9.4-postgis-2.3
services:
- postgresql
- redis-server
sudo: required
dist: trusty
cache: pip
env:
  global:
  - JOBS_QUEUE=plenario-queue-test
  - secure: G1RWlnwPIPSW2XRD7IItotgzTw41IAktyt2VurJwOp3xCIrmeHOtby6ox1x3Ph80Tzp3m3zLENof/sPsgOwRQgUOQ0nScpVGBGsUTAc26LL4SSs+7LGUAohm3EFTHPWU+78ZZMe3njK2fT86XP19FH1CupxgQ1vTpQI1iFChDD0=
  - secure: bnBfgN5eIAsCVdo+tMhjO88GRfUAEIkD0HFcOMEezP1YQv1bIFU71l5v4aT348RD2kuu6kihWApIqsEe0HjW8u0umPV6aLHuEuUrKGyxwk1x81bhP0KpgQgx+/Qbai4Q6gk+U4TWk713Ezu0j0GJH8jxixvyXgrJjfA/1yvHCdg=
before_install:
- pip install -r requirements.txt
- sudo mkdir -p /opt/python/log/
- sudo chmod 777 /opt/python/log/
- touch /opt/python/log/worker.log
- touch /opt/python/log/sender.log
install:
- sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'password';"
- sudo -u postgres psql -c "CREATE DATABASE plenario_test;"
- sudo -u postgres psql -c "CREATE EXTENSION postgis;" plenario_test
- python init_db.py -m -u -f -k
script:
###
# Something strange is up with our tests
# running these tests together causes them
# to error and fail...but they work when
# run separately. Probably something to
# do with test fixure setup and tear down
###
# Furthermore, don't run the jobs test first.
# Points (etc?) does some kind of setup that 
# is useful to jobs (it fails otherwise)
###
- nosetests --nologcapture tests/test_api/test_point.py -v
- nosetests --nologcapture tests/test_api/test_shape.py -v
- nosetests --nologcapture tests/test_api/test_validator.py -v
- nosetests --nologcapture tests/test_etl/test_point.py -v
- nosetests --nologcapture tests/submission/ -v
- nosetests --nologcapture tests/test_sensor_network/test_sensor_networks.py -v

deploy:
- provider: elasticbeanstalk
  access_key_id:
    secure: KUWS26l/RxjM7Fn5zy9fSVpF3kQzSmtkJQ7gGLwEqQ/QtrWnAWVyo6S1cnqNx57SChOTzxU15TcAncDQU3Ciy0m7rkVPQnXmfD9UVt4lZraMMDIk+oXh4i4l6yXFjei5LhxoHmtidinH+gl4R05Doh5ptli3sVHX1CaITjAKNSg=
  secret_access_key:
    secure: OcNlZr8vhlFKlSKEurZc1+NM/7exhr7JpOX4rJ6CqS1bly5Lh5UZ+GupZO7CM640nDrqwzQBKrkqDqPjwqEsbKIEU8NuDpfbG0/uRI4Ab/fhbPLzQPihLTjgkqI8ZlpSJ93K8fX2UC3SrVkyv29xzNZHlNp/q7GBaA95JRzelqQ=
  region: us-east-1
  app: plenario
  env: plenario-server
  bucket_name: elasticbeanstalk-us-east-1-031052761859
- provider: elasticbeanstalk
  access_key_id:
    secure: KUWS26l/RxjM7Fn5zy9fSVpF3kQzSmtkJQ7gGLwEqQ/QtrWnAWVyo6S1cnqNx57SChOTzxU15TcAncDQU3Ciy0m7rkVPQnXmfD9UVt4lZraMMDIk+oXh4i4l6yXFjei5LhxoHmtidinH+gl4R05Doh5ptli3sVHX1CaITjAKNSg=
  secret_access_key:
    secure: OcNlZr8vhlFKlSKEurZc1+NM/7exhr7JpOX4rJ6CqS1bly5Lh5UZ+GupZO7CM640nDrqwzQBKrkqDqPjwqEsbKIEU8NuDpfbG0/uRI4Ab/fhbPLzQPihLTjgkqI8ZlpSJ93K8fX2UC3SrVkyv29xzNZHlNp/q7GBaA95JRzelqQ=
  region: us-east-1
  app: plenario
  env: plenario-worker
  bucket_name: elasticbeanstalk-us-east-1-031052761859
notifications:
  slack:
    secure: IsCJP58JKofvwy4jVC4DEZSUShLp+i4V94dzhKSoFrhRFKeT3Te/Hn+uDPBT+ZwTcs7QF0k1DfBHTZt0za1U/Q2fabhxxarrtR3v9DGWo2OfdBjyY9TM05JmZyFESov4CxzA4USvFd+GO7P6QY1IhdDF8oSa9dCViTAerBOGLMk=
