files:
    "/opt/elasticbeanstalk/hooks/appdeploy/post/99_initscripts.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/usr/bin/env bash
            
            if ! grep -q 'WORKER' /opt/python/current/env ; then
                echo "I am not a worker, so I won't setup worker process shutdown scripts."
                exit
            fi

            echo "Alight! Let's set up some shutdown scripts."

            # "workersunion" is a script to ensure worker-processes can finish
            # their jobs before AWS shuts down the instance.
            cp /opt/python/current/app/workersunion /etc/init.d/
            chmod +x /etc/init.d/workersunion
            chkconfig --add workersunion
            chkconfig workersunion on
            service workersunion start
