files:
    "/opt/elasticbeanstalk/hooks/appdeploy/post/99_initdb.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/usr/bin/env bash

            if ! grep -q 'WORKER' /opt/python/current/env ; then
                echo "I am not a worker, so I won't initialize the database."
                exit
            fi
            
            source /opt/python/current/env

            echo "Oh boy I am a worker! Let's initialize the database."
            cd /opt/python/current/app
            pip install -r requirements.txt
            PGPASSWORD=$DB_PASSWORD psql -h $DB_HOST -c 'CREATE EXTENSION postgis;' $DB_NAME $DB_USER
            python init_db.py
