files:
    "/opt/elasticbeanstalk/hooks/appdeploy/post/99_initscripts.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/usr/bin/env bash
            
            if ! grep -q 'WORKER' /opt/python/current/env ; then
                echo "I am not a worker, so I won't setup worker process shutdown scripts."
                exit
            fi

            echo "Aw yiss, let's set up some shutdown scripts!"
            cp /opt/python/current/app/unionboss /etc/init.d/
            chmod +x /etc/init.d/unionboss
            chkconfig --add unionboss
            chkconfig shutdown_script on
            chkconfig --list
            service unionboss start
            service --status-all
