files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/run_supervised_celeryd.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      # Many thanks to http://stackoverflow.com/questions/14761468/how-do-you-run-a-worker-with-aws-elastic-beanstalk

      # If we are running in a worker environment, don't start celery workers.
      if [ -n "$WORKER" ]; then
	  	echo "Quitting";
		exit 1;
      fi

      # Get virtualenv environment variables
      celeryenv=`cat /opt/python/current/env | tr '\n' ',' | sed 's/export //g' | sed 's/$PATH/%(ENV_PATH)s/g' | sed 's/$PYTHONPATH//g' | sed 's/$LD_LIBRARY_PATH//g'`
      celeryenv=${celeryenv%?}

      # Create celery configuration script
      celeryconf="[program:plenario-celery]
      process_name=%(program_name)s_%(process_num)02d
      user=nobody
      stdout_logfile=/var/log/%(program_name)s_%(process_num)02d_celery.log
      stderr_logfile=/var/log/%(program_name)s_%(process_num)02d_celery.log
      autostart=true
      autorestart=true
      startsecs=10
      killasgroup=true
      numprocs=2
      directory=/opt/python/current/app
      command=/opt/python/run/venv/bin/celery worker -A plenario.celery_app -n celery_%(program_name)s_%(process_num)02d --loglevel=info

      environment=$celeryenv"

      # Create the celery supervisord conf script
      echo "$celeryconf" | tee /opt/python/etc/celery.conf

      # Add configuration script to supervisord conf (if not there already)
      if ! grep -Fxq "[include]" /opt/python/etc/supervisord.conf
          then
          echo "[include]" | tee -a /opt/python/etc/supervisord.conf
          echo "files: celery.conf" | tee -a /opt/python/etc/supervisord.conf
      fi

      # Reread the supervisord config
      supervisorctl -c /opt/python/etc/supervisord.conf reread

      # Update supervisord in cache without restarting all services
      supervisorctl -c /opt/python/etc/supervisord.conf update

      # Start/Restart celeryd through supervisord
      supervisorctl -c /opt/python/etc/supervisord.conf restart celeryd