<div id="map" class="col-md-12 half-height"></div>

<br />
<h4>Select spatial aggregation resolution</h4>
<div id="filters">
    <form role="form">
        <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                    <label for="spatial-agg-filter">Spatial resolution</label>
                    <select id="spatial-agg-filter">
                        <option value="100">~100m</option>
                        <option value="200">~200m</option>
                        <option value="300">~300m</option>
                        <option value="400">~400m</option>
                        <option value="500" selected=true>~500m</option>
                    </select>
                </div>
            </div>
        </div>
    </form>
</div>

