SECRET_KEY = 'abcdefghijklmnop'
PLENARIO_SENTRY_URL = ''
CELERY_SENTRY_URL = ''
DATABASE_CONN = 'postgresql://plenario:@localhost:5432/plenario_test'
DATA_DIR = '/tmp'
REDIS_CONFIG = {'host': 'hostname', 'port': 'port_number'}

AWS_ACCESS_KEY = ''
AWS_SECRET_KEY = ''
S3_BUCKET = ''

# Optional dict with attributes for a default user 
# that gets created when init_db is run from database module.
# Just needs 'name', 'email', and 'password' keys.
DEFAULT_USER = {}

# Toggle maintenence mode
MAINTENANCE = False
