{% extends 'base.html' %}
{% block title %}WOPR Grid Explorer{% endblock %}
{% block extra_styles %}
    <link href="{{ url_for('static', filename='css/leaflet.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/leaflet.label.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="container">
        <div class='row'>
            <div class='col-md-4'>
                <div class='well'>
                    <div id="sidebar">
                        <div>
                          <h4 id="dataset-name" class="light">{{ default.human_name }}</h4>
                          <p id="dataset-description">{{ default.description|truncate }}</p>
                            <form class="form" role="form">
                                <div class="form-group">
                                    <label for="dataset-picker">Pick another dataset: </label>
                                    <select id="dataset-picker" class="form-control">
                                        {% for dataset in datasets %}
                                            <option value="{{ dataset.dataset_name }}"{% if dataset.human_name == default.human_name %} selected=true {% endif %}>
                                                {{ dataset.human_name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="year-picker">Pick another year: </label>
                                    {% for dataset in datasets %}
                                        <select id="{{dataset.dataset_name}}-yearpicker" class="yearpicker form-control" {% if dataset.dataset_name != default.dataset_name%}style="display:none;"{% endif %}>
                                            {% for year in range(dataset.obs_from.year, dataset.obs_to.year) %}
                                            <option value="{{year}}" {% if year == 2013 %}selected=true{% endif %}>{{year}}</option>
                                            {% endfor %}
                                        </select>
                                    {% endfor %}
                                </div>
                                <div class="form-group">
                                    <label for="resolution-picker">Pick another resolution: </label>
                                    <select id="resolution-picker" class="form-control">
                                        {% for k,v in resolutions|dictsort %}
                                            <option value="{{ k }}"{% if v == '~1km' %} selected=true {% endif %}>
                                                {{ v }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div id="fielddefs" class="form-group" style="display:none;">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <label for="fielddefs-list">Field Definitions: </label>
                                            <select id="fielddefs-list"></select>
                                        </div>
                                        <div class="col-xs-6">
                                            <label for="operators-list">Operators: </label>
                                            <select id="operators-list">
                                                {% for op in ['is', 'is not', 'is less than', 'is more than', 'is in', 'is like'] %}
                                                    <option value="">
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class='col-md-8'>
                <div id="map"></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_javascript %}
    <script src="{{ url_for('static', filename='js/range.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/spin.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.spin.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ejs_production.js') }}"></script>
    <script src="{{ url_for('static', filename='js/leaflet.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/leaflet.label.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/jenks.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/grid-map.js') }}" type="text/javascript"></script>
{% endblock %}
