{% extends 'base.html' %}
{% block title %}WOPR Grid Explorer{% endblock %}
{% block extra_styles %}
    <link href="{{ url_for('static', filename='css/leaflet.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/leaflet.draw.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/leaflet.label.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/daterangepicker-bs3.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="container">
        <div class='row'>
            <div class='col-md-4'>
                <div class='well'>
                    <div id="sidebar">
                        <div>
                            <form class="form" role="form">
                                <div class="form-group">
                                    <label for="dataset-picker">Pick another dataset: </label>
                                    <select id="dataset-picker" class="form-control">
                                        {% for dataset in datasets %}
                                            <option value="{{ dataset.dataset_name }}"{% if dataset.human_name == default.human_name %} selected=true {% endif %}>
                                                {{ dataset.human_name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="date_range">Date Range: </label>
                                    <input id="date_range" class="form-control" type="text"/>
                                </div>
                                <div class="form-group">
                                    <label for="resolution-picker">Pick another resolution: </label>
                                    <select id="resolution-picker" class="form-control">
                                        {% for k,v in resolutions|dictsort %}
                                            <option value="{{ k }}"{% if v == '~1km' %} selected=true {% endif %}>
                                                {{ v }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div id="fielddefs" class="form-group" style="display:none;">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <label for="fielddefs-list">Field Definitions: </label>
                                            <select id="fielddefs-list"></select>
                                        </div>
                                        <div class="col-xs-6">
                                            <label for="operators-list">Operators: </label>
                                            <select id="operators-list">
                                                {% for op in ['is', 'is not', 'is less than', 'is more than', 'is in', 'is like'] %}
                                                    <option value="">
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="showmore-content">
                                <h4 id="dataset-name" class="light">{{ default.human_name }}</h4>
                                <p id="dataset-description">{{ default.description }}</p>
                            </div>
                            <button class="btn btn-primary showmore" type="button">Show more</button>
                            <button class="btn btn-primary showless" type="button" style="display:none">Show less</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class='col-md-8'>
                <div id="map"></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_javascript %}
    <script src="{{ url_for('static', filename='js/range.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/daterangepicker.js') }}"></script>
    <script src="{{ url_for('static', filename='js/spin.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.spin.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ejs_production.js') }}"></script>
    <script src="{{ url_for('static', filename='js/leaflet.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/leaflet.draw.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/leaflet.label.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/jenks.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/grid-map.js') }}" type="text/javascript"></script>
{% endblock %}
