<table class="table">
    <tbody>
        <tr>
            <td>Name:</td>
            <td><%= meta.human_name %></td>
        </tr>
        <tr>
            <td>Source:</td>
            <td><a href="<%= meta.source_url %>" target="_blank">View</a></td>
        </tr>
        <% if(meta.obs_from && meta.obs_to){ %>
            <tr>
                <td>Date range:</td>
                <td><%= meta.obs_from %>&en;<%= meta.obs_to %></td>
            </tr>
        <% } %>
        <tr>
            <td>Update frequency:</td>
            <td><%= meta.update_freq %></td>
        </tr>
        <tr>
            <td>Description:</td>
            <td><%= meta.description %></td>
        </tr>
    </tbody>
</table>
