<h4>Dataset Field List</h4>
<div class="field-list">
    <ul>
    <% $.each(fields, function(i, field){ %>
        <li>
            <small>
                <strong><%= field.field_name %></strong>
                (<%= field.field_type %>)
            </small>
        </li>
    <% }) %>
    </ul>
</div>
<form class="refine-form" role="form">
    <div class="form-group">
        <label for="refine-query">Refine your query</label>
        <textarea class="form-control"></textarea>
    </div>
    <button type="button" class="btn btn-info refine">Refine</button>
</form>
