<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>org.macports.PortIndex2MySQL</string>
        <key>ProgramArguments</key>
        <array>
            <string>/opt/local/share/macports/resources/portmgr/PortIndex2MySQL</string>
        </array>
        <key>StartCalendarInterval</key>
        <array>
            <dict>
                <key>Hour</key>
                <integer>4</integer>
                <key>Minute</key>
                <integer>15</integer>
            </dict>
            <dict>
                <key>Hour</key>
                <integer>16</integer>
                <key>Minute</key>
                <integer>15</integer>
            </dict>
        </array>
        <key>UserName</key>
        <string>mysql</string>
    </dict>
</plist>
