<br />
<p class='lead'><strong><%= datasets.length %></strong> datasets available to query</p>
<table id='available-datasets' class='table table-condensed'>
  <thead>
    <tr>
      <th>Source</th>
      <th>Dataset</th>
      <th>Time span available</th>
    </tr>
  </thead>
  <tbody>
    <% $.each(datasets, function(i, set){ %>
      <tr>
        <td><%= set.attribution %></td>
        <td>
          <a href="javascript://" class='about-detail' data-dataset_name="<%= set.dataset_name %>"><%= set.human_name %></a>
        </td>
        <td>
          <% if (set.obs_from && set.obs_to && moment(set.obs_to).isBefore(moment()) && moment(set.obs_from).isAfter('1899-12-31')) { %>
          <strong><%= moment(set.obs_from).from(moment(set.obs_to), true) %></strong> (<%= moment(set.obs_from).format("M/D/YYYY") %> - <%= moment(set.obs_to).format("M/D/YYYY") %>)
          <% } %>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>
