<% var points = "/v1/api/detail/?" + $.param(points_query) + '&dataset_name=' + meta.dataset_name %>
<% var time_series = "/v1/api/detail-aggregate/?" + $.param(points_query) + '&dataset_name=' + meta.dataset_name %>
<% var fields_list = "/v1/api/fields/" + meta.dataset_name %>
<% var grid = "/v1/api/grid/?" + $.param(query) %>

<div class='col-md-12'>
    <p><a href='#' id='back-to-explorer'>&lt; back to Explorer</a></p>
</div>
<div class='col-md-5'>
    <div id="filters">
        <h3 class='detail-header'>
            <%= meta.attribution %>: <%= meta.human_name %>
        </h3>
        <form class='form' role="form">
            <div class='row'>
                <div class='col-md-6'>
                    <div class="form-group">
                        <label for="start-date-filter">Start date</label>
                        <input id="start-date-filter" class="date-filter form-control" type="text" value="<%= start %>" />
                    </div>
                </div>
                <div class='col-md-6'>
                    <div class="form-group">
                        <label for="end-date-filter">End date</label>
                        <input id="end-date-filter" class="date-filter form-control" type="text" value="<%= end %>"/>
                    </div>
                </div>
            </div>

            <div class='row'>
                <div class='col-md-6'>
                    <div class="form-group">
                        <label for="time-agg-filter">Aggregate by</label>
                        <select class='form-control' id="time-agg-filter">
                            <option value="day">Day</option>
                            <option value="week">Week</option>
                            <option value="month">Month</option>
                            <option value="quarter">Quarter</option>
                            <option value="year">Year</option>
                        </select>
                    </div>
                </div>
                <div class='col-md-6'>
                    <div class="form-group">
                        <label for="spatial-agg-filter">Map grid resolution</label>
                        <select class='form-control' id="spatial-agg-filter">
                            <option value="100">100 meters</option>
                            <option value="200">200 meters</option>
                            <option value="300">300 meters</option>
                            <option value="400">400 meters</option>
                            <option value="500">500 meters</option>
                            <option value="1000">1 kilometer</option>
                        </select>
                    </div>
                </div>
            </div>

            Filters
            <button type="button" id="add-filter" class="btn btn-link"><i class='fa fa-plus'></i> Add filter</button>
            <div id='filter_builder'></div>

            <button type="button" id="submit-detail-query" class="btn btn-primary">
                <i class='fa fa-search'></i>
                Refine query
            </button>

            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <i class='fa fa-download'></i>
                    Download
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="<%= points + '&data_type=csv' %>" class="data-download" target="_blank"><i class='fa fa-download'></i> Raw data (CSV, first 1,000 records)</a></li>
                    <li><a class='data-download' href="<%= points + '&data_type=geojson' %>" target="_blank" ><i class='fa fa-download'></i> Raw data (GeoJSON, first 1,000 records)</a></li>
                    <li><a class='download-map-grid data-download' href="#" target="_blank" ><i class='fa fa-download'></i> Map grid (GeoJSON, with count aggregate)</a></li>
                    <li><a href="<%= time_series + '&data_type=csv' %>" class="data-download" target="_blank"><i class='fa fa-download'></i> Time series (CSV)</a></li>
                    
                </ul>
            </div>
        </form>

        <hr />
        
        <h4>API queries</h4>
        <p>View the API queries that are used on this page. <a href='/api-docs/'>Read the API docs</a>.</p>
        <ul class=''>
            <li><a class='download-geojson' target="_blank" href="<%= grid %>"><code>/v1/api/grid/&hellip;</code></a></li>
            <li><a href="<%= time_series %>" target="_blank"><code>/v1/api/detail-aggregate/&hellip;</code></a></li>
            <li><a href="<%= points %>" target="_blank"><code>/v1/api/detail/&hellip;</code></a></li>
            <li><a href="<%= fields_list %>" target="_blank"><code>/v1/api/fields/&hellip;</code></a></li>
        </ul>

    </div>
</div>
<div class='col-md-7'>
    <h3 class='detail-header' id="record-count">Loading &hellip;</h3>
    <div id="map"></div>
    <hr />
    <div id="detail-chart"></div>

    <h4>Dataset details</h4>
    <table class="table">
        <tbody>
            <tr>
                <td>Name:</td>
                <td><%= meta.human_name %></td>
            </tr>
            <tr>
                <td>Attribution:</td>
                <td><%= meta.attribution %></td>
            </tr>
            <tr>
                <td>Source:</td>
                <td><a href="<%= meta.source_url %>" target="_blank"><%= meta.source_url %></a></td>
            </tr>
            <% if(meta.obs_from && meta.obs_to){ %>
                <tr>
                    <td>Time span available:</td>
                    <td><strong><%= moment(meta.obs_from).from(moment(meta.obs_to), true) %></strong> (<%= moment(meta.obs_from).format("M/D/YYYY") %> - <%= moment(meta.obs_to).format("M/D/YYYY") %>)</td>
                </tr>
            <% } %>
            <tr>
                <td>Update frequency:</td>
                <td><%= meta.update_freq %></td>
            </tr>
            <tr>
                <td>Description:</td>
                <td><%= meta.description %></td>
            </tr>
        </tbody>
    </table>
</div>
<div class='clearfix'></div>
<hr />