<div class="row filter_row" id="row_<%= id %>" data-id="<%= id %>">
    <div class="col-sm-4">
        <div class="form-group">
            <select class="form-control" id="field_<%= id %>">
                <option value="">Select a field&hellip;</option>
                <option value="census_block">Census block</option>
            </select>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <select class="form-control" id="operator_<%= id %>">
                <option value="">=</option>
                <option value="gt">&gt;</option>
                <option value="ge">&gt;=</option>
                <option value="lt">&lt;</option>
                <option value="le">&lt;=</option>
                <option value="ne">!=</option>
                <option value="ilike">LIKE</option>
                <option value="in">IN</option>
            </select>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <input id="value_<%= id %>" class="form-control" placeholder="Enter a value..." type="text" value="<%= value %>"/>
        </div>
    </div>
    <% if (removable) { %>
        <div class="col-sm-1">
            <div class="form-group">
                <button type="button" class="btn btn-default remove-filter" data-id="<%= id %>">
                    <i class='fa fa-times'></i>
                </button>
            </div>
        </div>
    <% } %>
</div>