<!-- take shapes object as input -->
<br />
<p class='lead'><strong><%= shapes.length %></strong> shape datasets available to query</p>
<table id='shape-datasets' class='table table-condensed'>
    <thead>
    <tr>
        <th>Dataset Name</th>
          <% if (hasIntersect) { %>
            <th>Count</th>
            <% } %>
        <th>Date Added</th>
        <th>Download</th>
    </tr>
    </thead>
    <tbody>
    <% $.each(shapes, function(i, shape){ %>
        <tr><% if (!hasIntersect) { %>
            <td><%= shape.human_name %></td>
            <td><%= shape.date_added %></td>
            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <i class='fa fa-download'></i>
                        Download
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="<%='http://plenar.io/v1/api/shapes/' + shape.dataset_name + '?' + 'data_type=json'%>"><i class='fa fa-download'></i> GeoJson</a></li>
                        <li><a href="<%='http://plenar.io/v1/api/shapes/' + shape.dataset_name + '?' + 'data_type=shapefile'%>"><i class='fa fa-download'></i> ESRI Shapefile</a></li>
                        <li><a href="<%='http://plenar.io/v1/api/shapes/' + shape.dataset_name + '?' + 'data_type=kml'%>"><i class='fa fa-download'></i> KML</a></li>

                    </ul>
                </div>
            </td>
            <% } %>
            <% if (hasIntersect && shape.num_geoms) { %>
            <td><%= shape.human_name %></td>
            <td><%= shape.num_geoms %></td>
            <td><%= shape.date_added %></td>
            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <i class='fa fa-download'></i>
                        Download
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="<%='http://plenar.io/v1/api/shapes/' + shape.dataset_name + '?' + 'data_type=json'%>"><i class='fa fa-download'></i> GeoJson</a></li>
                        <li><a href="<%='http://plenar.io/v1/api/shapes/' + shape.dataset_name + '?' + 'data_type=shapefile'%>"><i class='fa fa-download'></i> ESRI Shapefile</a></li>
                        <li><a href="<%='http://plenar.io/v1/api/shapes/' + shape.dataset_name + '?' + 'data_type=kml'%>"><i class='fa fa-download'></i> KML</a></li>
                    </ul>
                </div>
            </td>
            <% } %>
        </tr>
    <% }) %>
    </tbody>
</table>