{% extends 'base.html' %}
{% block extra_styles %}
    <link rel="stylesheet" href="/static/css/leaflet.css" />
    <link rel="stylesheet" href="/static/css/leaflet.draw.css" />
{% endblock %}
{% block content %}
<div class="col-md-3">
    <h3>Buncha filters and junk</h3>
    <p>Probably actually a listing of datasets and meta</p>
    <div id="dataset-picker"></div>
    <div id="filters"></div>
</div>
<div id="map" class="col-md-9 full-height"></div>
<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="error" aria-hidden="true"></div>
{% endblock %}
{% block extra_javascript %}
    <script type="text/javascript" src="/static/js/ejs_production.js"></script>
    <script type="text/javascript" src="/static/js/spin.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.spin.js"></script>
    <script type="text/javascript" src="/static/js/leaflet.js"></script>
    <script type="text/javascript" src="/static/js/leaflet.draw.js"></script>
    <script type="text/javascript" src="/static/js/map.js"></script>
{% endblock %}
