*/15 * * * * urbanccd bash /home/urbanccd/plenario/plenario_update.sh often
0 8 * * * urbanccd bash /home/urbanccd/plenario/plenario_update.sh daily
0 0 * * sun urbanccd bash /home/urbanccd/plenario/plenario_update.sh weekly
0 0 1 * * urbanccd bash /home/urbanccd/plenario/plenario_update.sh monthly
0 0 2 4 * urbanccd bash /