<form role="form">
<div class="form-group">
<select id="dataset" class="form-control">
<option value="None">---------</option>
<% $.each(datasets, function(i, dataset){ %> 
    <option value="<%= dataset.machine_name %>"><%= dataset.human_name %></option>
<% }) %>
</select>
</div>
</form>
