<form role="form">
<div class="form-group">
<input class="filter start form-control" type="text" value="Start Date: <%= moment().subtract('d', 180).format('YYYY-MM-DD') %>" placeholder="Start Date"/>
</div>
<div class="form-group">
<input class="filter end form-control" type="text" value="End Date: <%= moment().format('YYYY-MM-DD') %>" placeholder="End Date"/>
</div>
</form>
